{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="intro-banner-wrap relative flex items-center justify-center">
      <a href="{% url 'store' %}">
        <img src="{% static 'images/banners/2.jpg' %}" class="img-fluid rounded" />
      </a>
      <a href="{% url 'store' %}" class="absolute bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Shop Now</a>
    </div>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
      <h3 class="section-title">Popular products</h3>
    </header>
    <!-- sect-heading -->

    <div class="row">
      {% for caretory in caretorys %}
        <div class="col-md-3">
          <div class="card card-product-grid">
            <a href="{{ caretory.get_url }}" class="img-wrap">
              <img src="{{ caretory.cat_image }}" />
            </a>
            <figcaption class="info-wrap">
              <a href="{{ caretory.get_url }}" class="title">{{ caretory.category_name }}</a>
              <!-- <div class="price mt-1">R$ {{ caretory.price }}</div> -->
              <!-- price-wrap.// -->
            </figcaption>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- row.// -->
  </div>
  <!-- container // -->
</section>
<!-- ========================= SECTION END// ========================= -->

{% endblock %}
